{% extends "base.html" %}
{% block title %}  {% endblock %}
{% block content %}

    <h1>Welcome to {{ title }}!</h1>
    {% for post in posts %}
        {% include "includes/_post.html" %}
    {% endfor %}

    {% if form %}
        <form action="" method="post">
        {{ form.csrf_token() }}
            {% for field in form if field.name != 'csrf_token' %}
                <div><p>{{ field.label() }}</p></div>
                    {{ field }}
            {% endfor %}
        </form>
    {% endif %}

{% endblock %}